body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0; 
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    padding:16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.main-content{
    flex-grow: 1;
}

input {
    padding: 8px;
    color: #1A669C; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid  #1A669C; /* Border thickness, line style, and color */
    text-transform: uppercase;
    font-weight: bold;
    
}

button {
    cursor: pointer;
    padding: 8px;
    color: #1A669C; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid  #1A669C; /* Border thickness, line style, and color */
    text-transform: uppercase; /* Make letters uppercase */
    font-weight: bold;
    font-family: Arial;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1A669C;
    opacity: initial; /* Firefox */
    font-weight: bold;
    font-family: Arial;
}